<!-- app.component.html -->

<header>
  <h1>Welcome To Solo Saver!</h1>
  <div class="header-content">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <button class="login-btn">Login</button>
  </div>
</header>

<main class="container">
  <!-- Your main content goes here -->
  <div>
    <!-- Transaction Form Component -->
    <app-transaction-form></app-transaction-form>
  </div>

  <div>
    <!-- Transaction List Component -->
    <app-transaction-list></app-transaction-list>
  </div>
</main>

<footer>
  <p>&copy; Alec J willits | 2024 Solo Saver | All rights reserved.</p>
</footer>
